@font-face {
  font-family: 'BYekan';
  src: url('../fonts/byekan/BYekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/byekan/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/byekan/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BHoma';
  src: url('../fonts/bhoma/BHoma.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/bhoma/BHoma.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/bhoma/BHoma.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BTitr';
  src: url('../fonts/btitr/BTitrBold.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/btitr/BTitrBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/btitr/BTitrBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}